<div class="auth-container">
  <div class="auth-card">
    <h2>Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required />
        <mat-error *ngIf="registerForm.get('firstName')?.errors?.['required']">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error *ngIf="registerForm.get('lastName')?.errors?.['required']">
          Last name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthDate"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registerForm.get('birthDate')?.errors?.['required']">
          Birth date is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          required
        />
        <mat-error
          *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
        >
          Please confirm your password
        </mat-error>
      </mat-form-field>

      <div class="error-message" *ngIf="error">
        {{ error }}
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </form>

    <div class="switch-mode">
      <p>
        Already have an account?
        <a routerLink="/login" class="switch-btn">Login</a>
      </p>
    </div>
  </div>
</div>
