<app-header></app-header>

<div class="container">
  <div class="profile-content">
    <h1>My Profile</h1>

    <div *ngIf="loading" class="loading">Loading profile...</div>

    <form *ngIf="!loading" [formGroup]="profileForm" class="profile-form">
      <div class="form-row">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            [readonly]="!editingField['firstName']"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleEdit('firstName')"
            *ngIf="!editingField['firstName']"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="saveField('firstName')"
            *ngIf="editingField['firstName']"
            color="primary"
          >
            <mat-icon>check</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            [readonly]="!editingField['lastName']"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleEdit('lastName')"
            *ngIf="!editingField['lastName']"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="saveField('lastName')"
            *ngIf="editingField['lastName']"
            color="primary"
          >
            <mat-icon>check</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <mat-label>Birth Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate"
            [readonly]="!editingField['birthDate']"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
            *ngIf="editingField['birthDate']"
          ></mat-datepicker-toggle>
          <button
            mat-icon-button
            matSuffix
            (click)="toggleEdit('birthDate')"
            *ngIf="!editingField['birthDate']"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="saveField('birthDate')"
            *ngIf="editingField['birthDate']"
            color="primary"
          >
            <mat-icon>check</mat-icon>
          </button>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" readonly />
        </mat-form-field>
      </div>

      <mat-expansion-panel class="password-section">
        <mat-expansion-panel-header>
          <mat-panel-title> Change Password </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentPassword" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
          </mat-form-field>

          <div class="button-row">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!passwordForm.valid"
            >
              Change Password
            </button>
          </div>
        </form>
      </mat-expansion-panel>

      <!-- Delete Account Section -->
      <div *ngIf="!isAdmin" class="delete-account-section">
        <button mat-raised-button color="warn" (click)="deleteAccount()">
          <mat-icon>delete</mat-icon>
          Delete My Account
        </button>
      </div>
    </form>
  </div>
</div>
